/* Hero styles */

.hero-description p {
    
    @apply mt-6 max-w-2xl m-auto text-sm leading-normal;
}

/* Contact Form styles */



.cf7-submit {
    @apply w-36 h-12 text-[#333] border-none font-semibold;
}



select {
    width: 100%;
    border: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #1a202c;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    ring: 1px;
    ring-inset: inset;
    ring-color: #d1d5db;
    placeholder-color: #a0aec0;
    focus-ring: 2px;
    focus-ring-inset: inset;
    focus-ring-color: #3182ce;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.wpcf7-spinner {
    margin: 0;
    margin-right: -12px;
}

.max-width-4xl {
    @apply max-w-4xl;
}

.gapx-5 {
    @apply gap-x-5;
}

/*Header Stye*/

.custom-logo {
    @apply w-20 h-auto;
}

.search-field {
    @apply border-none bg-transparent w-full;
}

.main-menu {
    padding-top: 11px;
}

/*Header Menu*/

.main-navigation ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.main-navigation li {
    margin-right: 36px;
}

.main-navigation li:last-child {
    margin-right: 0;
}

.main-navigation a {
    text-decoration: none;
    color: #284616;
}

#amelia-container {
    @apply !my-0;
}

.wc-block-checkout, .wc-block-cart {
    @apply !mx-auto;
}

.woocommerce-cart.woocommerce-page .wp-block-column {
    @apply justify-center flex;
}

.wc-block-components-text-input input {
    @apply !bg-transparent !border-b !border-[#333];
    
}    

.wc-blocks-components-select__container select.wc-blocks-components-select__select {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    color: inherit !important;
    background: none !important;
}

.wc-block-components-order-summary-item__total-price span.wc-block-formatted-money-amount {
   display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-menu .widget {
        margin-bottom: 1rem;
    }
    
    .footer-menu .widget_nav_menu ul {
        margin-top: 1rem;
    }
}