@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    @apply font-primary-regular;
}

.wp-block {
    @apply max-w-screen-xl;
}

.wp-block[data-align="wide"] {
    @apply max-w-screen-xl;
}

.wp-block[data-align="full"] {
    @apply max-w-full;
}

/* Carbon field Style */
.wp-block .cf-block__fields {
    margin: 8px !important;
}

.cf-field.cf-image {
    flex: none;
}

h2.heading-cf {
    font-size: 20px; font-weight: bold; margin-bottom: 10px;
}