/* Buttons*/

@layer components {
    
    .btn-primary {
        @apply py-3 px-5 bg-[--color-grey-08] rounded-lg outline outline-1 outline-offset-[-1px] outline-neutral-800;
    }
    
}

.wp-block-cover .wp-block-buttons {
    @apply flex;
    .wp-block-button a.wp-block-button__link {
        @apply bg-[--theme-bg-color] !text-[#2f2e2e] py-2 px-5 shadow-md text-center rounded-none;
    }
}

.wp-block-cover__inner-container h1.wp-block-heading {
    @apply sm:text-[40px] sm:leading-[48px] md:text-[60px] md:leading-[72px] lg:text-[80px] lg:leading-[96px];
}

.wc-block-cart__submit.wp-block-woocommerce-proceed-to-checkout-block .wc-block-components-button, .wc-block-components-checkout-place-order-button {
    @apply bg-[--theme-bg-color] text-black py-2 px-5 shadow-md text-center hover:bg-neutral-200;
    position: relative;
    transition: transform 0.3s;
    min-width: var(--btn-min-w);
    height: var(--btn-height);
}

.prevnav, .nextnav {
    @apply w-10 h-10 bg-white rounded-full flex items-center justify-center shadow-md hover:bg-gray-50
}
