/* Buttons*/

@layer components {
    
    .btn-prm {
        @apply bg-[--theme-bg-color] text-black py-2 px-5 shadow-md text-center;
        position: relative;
        transition: transform 0.3s;
        min-width: var(--btn-min-w);
        height: var(--btn-height);
    }

    .btn-prm:hover {
        @apply hover:bg-neutral-200 shadow-lg;
    }

    .btn-prm:active {
        @apply focus:ring-2 focus:ring-[--theme-bg-color];
    }

    .btn-prm:focus {
        @apply focus:ring-2 focus:ring-[--theme-bg-color];
    }

    .btn-prm:before {
        content: "";
        background: no-repeat 100% 0;
        background-image: url("../images/btn-shadow.png");
        bottom: -26px;
        content: "";
        height: 26px;
        position: absolute;
        right: -26px;
        width: 165px;
        opacity: 1;
        visibility: visible;
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
}

    .btn-prm:hover:before {
        right: -10px;
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
}

    /* __TODO: change native css style to @apply syntax */
    .btn-sec {
        background-color: transparent;
        color: var(--kelly_green);
        padding: 12px 52px;
        font-family: "Montagu Slab", serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 18.2px;
        text-transform: uppercase;
        border: 1px solid transparent;
        transition:
            background-color 0.3s,
            box-shadow 0.3s,
            border 0.3s;
    }

    .btn-sec:hover {
        background-color: transparent;
        color: var(--sacramento);
        border: 1px solid var(--chiffon);
    }

    .btn-sec:active {
        background-color: #284616;
        color: var(--sacramento);
        border: 1px solid var(--chiffon);
    }

    .btn-sec:focus {
        background-color: transparent;
        color: var(--sacramento);
        border: 1px solid var(--chiffon);
        box-shadow: 0 0 0 4px #72bf4433;
    }
}

.wp-block-cover .wp-block-buttons {
    @apply flex;
    .wp-block-button a.wp-block-button__link {
        @apply bg-[--theme-bg-color] !text-[#2f2e2e] py-2 px-5 shadow-md text-center rounded-none;
    }
}

.wp-block-cover__inner-container h1.wp-block-heading {
    @apply sm:text-[40px] sm:leading-[48px] md:text-[60px] md:leading-[72px] lg:text-[80px] lg:leading-[96px];
}

.wc-block-cart__submit.wp-block-woocommerce-proceed-to-checkout-block .wc-block-components-button, .wc-block-components-checkout-place-order-button {
    @apply bg-[--theme-bg-color] text-black py-2 px-5 shadow-md text-center hover:bg-neutral-200;
    position: relative;
    transition: transform 0.3s;
    min-width: var(--btn-min-w);
    height: var(--btn-height);
}

.prevnav, .nextnav {
    @apply w-10 h-10 bg-white rounded-full flex items-center justify-center shadow-md hover:bg-gray-50
}
